POSTGRES_USER=
POSTGRES_PASSWORD=

DEV_DB=
DEV_USER=
DEV_PASSWORD=
DEV_DB_URL=

TEST_DB=
TEST_DB_USER=
TEST_DB_PASSWORD=
TEST_DB_URL=

PROD_DB=
PROD_USER=
PROD_PASSWORD=
PROD_DB_URL=

KTOR_ENV=development
JWT_SECRET=
JWT_AUDIENCE=
JWT_ISSUER=
GOOGLE_CLIENT_ID=

LOCAL_STORAGE_BASE_DIR=uploads
PUBLIC_BASE_URL=http://localhost:8080
